# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# specific patterns
*.orig
*_BACKUP_*.f95
*_BASE_*.f95
*_LOCAL_*.f95
*_REMOTE_*.f95
*.f90
*.egg*
.vagrant/*

# project settings
.cproject
.project
org.eclipse.photran.core.prefs
workspace.xml
.idea
launch.json


#intermediate suews files
warnings.txt
SUEWS_V201*
problems-checkpoint.txt
warnings-checkpoint.txt
Saeve_2004_data_5.txt.save
SampleRun/suews_v*

# build files
build/


# python related
profiling-checkpoint.ipynb
*.pyc
test-SuPy-checkpoint.py
test-checkpoint.py


# supy-driver related
supy-driver/build
supy-driver/dist
supy-driver/wheelhouse
Obs
London_KCL
